
// @import "../../../scss/_variable.scss";
@import "../../scss/_variable.scss";

.addHabitForm {
    font-family: $mainFont;
    color: $darkGreyThemeColor;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}
